[2022-02-07 00:22] vivekwebm2020 opened #475 "OpenVPN How to get Username from Windows (mostly v10 64Bit) Registry if in case forgotten ?"
Please take look at this SO (StackOverflow) [question](https://stackoverflow.com/q/70934162/365107) where I have explained the issue I am having for (decrypting if stored encrypted &) exporting the OpenVPN Username from Registry key-value.

I've also put the code I tried to fetch the Username(almost the same way as we fetch Password sucessfully), but if you don't want to take hassle of copying the

[2022-02-07 01:15] selvanair commented on #475
A number of things:
(i) Username is not encrypted. Though stored as REG_BINARY its a null terminated unicode string. You can extract it as
   $username = [System.Text.Encoding]::Unicode.GetString($item.'username')
   # trim the null
   $username = $username.Trim([char]0)

Note: This may change in future -- there has been some requests to keep the username also encrypted. If/when that happens you w

[2022-02-08 11:21] vivekwebm2020 commented on #475
Thanks @selvanair

[2022-02-10 04:26] #456 closed

[2022-02-17 18:32] tfonzi commented on #51
I'm working on using the [Windows VPN API](https://docs.microsoft.com/en-us/uwp/api/windows.networking.vpn?view=winrt-22000) for connecting to an OpenVPN server. Seems like generally there are not a lot of resources/references available online, so any would be appreciated!

[2022-02-20 23:20] KVPV opened #478 "Connection to management interface failed"
Initially everything worked well. But suddenly, it stopped working! Every time I reinstall OpenVPN-GUI I always get the same error. (Regardless of whether I have interfaces enabled or not). Can anyone provide an answer on this?

PS: Services are running.
OS: Windows 10 (build 18363)

![image](https://user-images.githubusercontent.com/68104307/154868635-7c2168de-6a87-42eb-963b-e48c17a29d3e.png)
![i

[2022-02-21 05:41] selvanair commented on #478
For some reason the interactive service is failing to open the NUL device to redirect stdout.
Could you please provide an English translation of the error message text beyond the "Create File for stdout"? Or, a cut and paste of the error as plain text so that it could be machine translated.

[2022-02-21 06:33] lstipakov commented on #478
It says ”cannot find the file specified”.

[2022-02-21 18:28] selvanair commented on #478
Missing NUL device?

@KVPV could you open a command window and check whether the following generates an error?

`echo something > NUL`

If it does print an error, driver for NUL is not loaded. Likely some messed up registry settings.

[2022-02-22 16:13] #474 closed

[2022-02-22 16:13] #475 closed

[2022-02-22 19:34] KVPV commented on #478
It says ”cannot find the file specified”.

[2022-02-22 20:28] selvanair commented on #478
I do not want to suggest registry edits but you could check whether HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Services\Null has start = 1. Other values could lead to null not loaded at boot.

The right fix would be to find out what caused it and and eliminate that cause.

[2022-02-26 19:02] KVPV commented on #478
Thanks, problem is solved!

[2022-02-26 19:02] #478 closed

[2022-03-04 16:56] 422365613 opened #479 "openvpn-gui client do not connect server"
Hello, I have tested on both Win10 and Win7 systems, but I still can't connect. I don't know where the problem is, it was installed for the first time. Please look at it for me. Thank you very much
![20220305](https://user-images.githubusercontent.com/46477353/156805914-f3b4277f-f8c8-41ef-b008-54241eae19a0.PNG)
!

[2022-03-04 17:29] selvanair commented on #479
Is there anything in the log file `C:\Program Files\OpenVPN\log\client.log`? You can use the "View Log" menu item to see the log or open it directly in notepad.

[2022-03-08 17:19] jacopotediosi opened #480 "Import from Access Server doesn't send basic auth credentials"
#436 implemented the "Import from Access Server" feature.

As stated in the [OpenVPN WebAuth documentation](https://github.com/OpenVPN/openvpn3/blob/master/doc/webauth.md#basic-api), the client should send credentials using HTTP Basic Authentication.

[OpenVPN-GUI v11.26.0.0](https://swupdate.openvpn.org/community/releases/OpenVPN-2.5.5-I602-amd64.msi) (latest version available in the [OpenVPN "Co

[2022-03-08 17:33] schwabe commented on #480
While not familiar with thatr specifric implementation, a lot of HTTP implemention only send the credentials after getting a 401 response. Have you have that the server sends a 401?

[2022-03-08 18:17] jacopotediosi commented on #480
You are right, the client sends a second request with the Authorization header if server replied with 401 and a "WWW-Authenticate: Basic" header to the first one.
Still, I'm not sure this should be the intended behaviour.

[2022-03-08 18:26] selvanair commented on #480
I think that's how basic auth works -- see rfc 7523. The server responds with 401 (unauthorized) before the client sends the auth header.
Anyway, the question is, does it work for you or are you running into some issue? If the latter it could be something other than not sending credentials.

[2022-03-08 18:26] selvanair commented on #480
oops -- rfc 7235

[2022-03-08 18:30] jacopotediosi commented on #480
Responding 401 and setting the WWW-Authenticate header, it works.
OpenVPN Connect V3 and many other clients immediately send the authorization header, so I leave this ticket open to let the maintainers decide if this is working as expected or not.

[2022-03-08 22:06] selvanair commented on #480
We use wininet API and it seems to always wait for 401 and authentication header before retrying with the authorization header set. This is in spite of assigning the username and password in the request structure in advance.
It may be possible to force-send authorization in the first round by explicitly constructing the header and adding it, but that's ugly. I would leave this as is unless there i

[2022-03-09 15:11] ChiHangChen opened #481 "Use openvpn-gui cause DNS failed, but official OpenVPN connect work, same config file"
I use a same configuration file but 2 different software to connect to my company VPN server.
After use openvpn-gui connnecting success, I can not connect to my company website through DNS, but connecting through openvpn client, everything work well.
Is there any possibilities that same config connecting through 2 different software cause different behavior?

Not sure the route error log related t

[2022-03-09 15:50] schwabe commented on #481
Having the log from the openvpn client that shows a working connection as comparison would be a good first step

[2022-03-09 17:06] selvanair commented on #481
The route addition error in logs is harmless -- its caused by `route remote_host 255.255.255.255` pushed by the server which is redundant as redirect-gateway def1 implies it. The error is due to trying to add the same route twice.

There is no DNS fallback option in OpenVPN- GUI, but your server is pushing DNS server addresses so DNS should get set, and work if those pushed DNS servers are active.

[2022-03-10 20:32] selvanair opened #482 "User name passed to management interface as part of CRV1 response is not escaped"
Reported by: Jakob Curdes <jc@info-systems.de>

Relevant log provided by Jakob Curdes <jc@info-systems.de>

After the user/pass dialog

`2022-03-10 19:51:15 us=937000 MANAGEMENT: CMD 'username "Auth" "authpoint\\JakobC"'`

User name with embedded backslash correctly escaped during first User/Auth exchange

[code]
User name not escaped during the CRV1 exchange.

[2022-03-11 07:31] ChiHangChen commented on #481
Thanks for pointing out the key part for debug, I print the ipconfig content under two different type of connection, they have quite some different:

Both Host Name is my Windows PC name, they are the same
**For DNS worked connection**
![normal_DNS](https://user-images.githubusercontent.com/22412708/157821914-f40b2099-33b8-4ac6-bd4b-43c78b9d2988.JPG)

**For DNS NOT worked connection**
There is an

[2022-03-11 20:03] selvanair commented on #481
Problem with the second output is not the missing DNS server -- its taken when the VPN is not connected using this adapter. Unless you are using a different adapter with Windows GUI. Please connect to VPN and then generate the output of ipconfig /all and show all relevant adapters.

[2022-03-12 11:50] ChiHangChen commented on #481
Sorry for any inconvenience caused, the following is the full ipconfig output of DNS NOT worked connection
![image](https://user-images.githubusercontent.com/22412708/158016819-cc2e1784-a453-4377-b71a-fc2387393283.png)

[2022-03-12 17:28] selvanair commented on #481
So, with OpenVPN-GUI, the adapter to look at is "TAP-Windows Adapter V9" which has 10.81.243.11 as IP address and 172.29.20.10 as DNS server. The only difference with using Connect is that the latter has set one more DNS server address (172.29.20.11). Both of those DNS addresses are pushed by the server, so I do not see why the former gets only one of them set.

That said, if 172.29.20.10 is a val

[2022-03-14 01:05] ChiHangChen commented on #481
Just update verb to 4 and get the full log, but can not find any line related to DNS server address..
Will check with the administrator, thanks for the help again
[code]

[2022-03-14 01:26] selvanair commented on #481
From the logs:

`DHCP option string: 0f0f6b72 6f6e6f73 746f6b65 6e2e636f 6d0604ac 1d140a`

That is the encoded form of "domain name = kronostoken.com and DNS address = 172.29.20.10" -- there is only one DNS address passed to the tap interface  --- the tailing end of the DHCP option string that reads:  0604ac1d140a, meaning option 06 (=DNS) with 04 bytes of data for one IP address. I had expected t

[2022-03-14 07:12] cron2 commented on #481
Hi,

On Sun, Mar 13, 2022 at 06:26:28PM -0700, Selva Nair wrote:

A quick look into the code (dhcp_option_address_parse() into o->dns,
build_dhcp_options_string() reading out of o->dns) confirms that
"it should be able to handle multiple".

Just to be sure, I've tested this here (Win10, some older master version)
and it correctly installs both pushed DNS servers.

Then I looked again at the origin

[2022-03-14 14:11] selvanair commented on #481
Aha... The GUI only adds route-method, the other one must be in the config file. That would have removed both DNS entries though. Possibly there also a "dhcp-optiion DNS 172.29.20.10" in the config file?

@ChiHangChen Please post your client config file. There may be other surprises in there. Anyway, removing the offending pull-filter directive may fix your issue.

[2022-03-15 02:01] SunnyWjw opened #485 "‘OPENSSL_INIT_LOAD_CONFIG’ undeclared (first use in this function)"
When I compile this code, the compilation fails, prompting
`
error: ‘OPENSSL_INIT_LOAD_CONFIG’ undeclared (first use in this function)
`

Here is the complete error message:
[code]
![image](https://user-images.githubusercontent.com/11763317/158290898-59e50de4-711c-4b42-9275-3656ff66fc89.png)
![image](https://user-images.githubusercontent.com/11763317/158290957-49ee0b8b-cbbb-41a0-ba8f-7b1ba81c9d9c.

[2022-03-15 02:22] selvanair commented on #485
It seems you are trying to build against an old version of OpenSSL that we do not support. OPENSSL_init_crypto() was added in OpenSSL version 1.1.0. We recommend OpenSSL 1.1.1 or OpenSSl 3.0 though 1.1.0 also may work.

[2022-03-15 13:08] ChiHangChen commented on #481
Yes I did add the following line into my config file..

[code]
But this is after I found that my DNS can not work properly and try to search some solution throught GOOGLE, and found some people said that add these line might help.

Either with or without these, the DNS still not working using OpenVPN-GUI...

[2022-03-15 13:11] ChiHangChen commented on #481
The following is my config file...I wonder if this help for find the root cause

[code]

[2022-03-15 14:24] ChiHangChen commented on #481
Got it thanks, will do.
But I am wondering why the OpenVPN Connect didn't encounter this issue but only happened in OpenVPN-GUI?

[2022-03-15 14:42] cron2 commented on #481
Hi,

On Tue, Mar 15, 2022 at 07:25:08AM -0700, Jim Chen wrote:

Maybe OpenVPN Connect installs the DNS servers in the other order, so
your client will ask .11 first, then .10 - and if .10 is not working,
you won't notice.

"ipconfig /all" in comparison OpenVPN <-> Connect will tell you

gert
--
"If was one thing all people took for granted, was conviction that if you
 feed honest figures into a co

[2022-03-16 03:36] SunnyWjw commented on #485
### How can I import or install openssl？
I updated the version of openssl to 1.1.1, but there is still an error in the process of compiling, it prompts me: "Cannot find OpenSSL library".

![image](https://user-images.githubusercontent.com/11763317/158511854-7d38d0a1-4f6d-48a2-82b6-14cd8df3918d.png)
![image](https://user-images.githubusercontent.com/11763317/158511867-85af98f5-25d2-425a-867f-ade76c

[2022-03-16 03:38] SunnyWjw commented on #485
I updated the version of openssl to 1.1.1, but still got an error during compilation.
Error :"Cannot find OpenSSL library"

[2022-03-16 04:32] selvanair commented on #485
I don't build on cygwin but I think the instructions in BUILD.rst should work provided all required packages are in place. That is,
[code]
If the location of OpenSSL is not automatically detected due to missing pkg-config or non-standard installation, you will have to define OPENSSL_CRYPTO_LIBS and OPENSSL_CRYPTO_CFLAGS. See `./configure -- help`.

[2022-03-16 04:33] selvanair commented on #482
Fixed by #483

[2022-03-16 04:33] #482 closed

[2022-03-16 07:20] SunnyWjw commented on #485
I have installed all the necessary packages, but when
` ./configure --host=x86_64-w64-mingw32`
 it still prompts me that openssl is missing。

![image](https://user-images.githubusercontent.com/11763317/158536998-c39c8632-f536-44e5-8917-9ff0fd6e4fb8.png)

[2022-03-16 07:25] cron2 commented on #485
Hi,

On Wed, Mar 16, 2022 at 12:20:25AM -0700, SunnyWu wrote:

This is cross-building, so you need to have cross-built openssl libraries.

Follow these steps:

https://community.openvpn.net/openvpn/wiki/BuildingUsingGenericBuildsystem

gert
--
"If was one thing all people took for granted, was conviction that if you
 feed honest figures into a computer, honest figures come out. Never doubted
 it m

[2022-03-16 08:35] lstipakov commented on #485
Please note that you could (and I would say _should_, but someone may disagree :) build openvpn-gui using Visual Studio/CMake with vcpkg as a dependency manager. This is what we do when we make releases.

[2022-03-16 14:48] selvanair commented on #485
Though I do not build that way, I agree especially since OP is compiling on Windows (cygwin). But I couldn't find build instructions for MSVC to point to. We have to update BUILD.rst.

[2022-03-30 12:17] j2s2 opened #487 "error if quote (') in password"
[openvpn-gui v11.27 / openvpn v2.5.6]

if we type a quote in the password field, we have a error in log :
    ERROR: Options warning: Bad backslash ('\') usage in TCP:0...

Apparently it is the only character which leads to the error.

Sincerly

[2022-03-30 23:11] selvanair commented on #487
Thanks for reporting this --- I can reproduce it.
We sent the password in single quotes and also escape any single quote, double quote, backslash and space in the password. But it seems, OpenVPN core does not support escaping in single quote delimited phrases -- that means its  not possible to have embedded single quotes in suc strings. Someone familiar with escape processing in the core (options.

[2022-03-31 01:54] selvanair commented on #487
Much of what I wrote above turns out to be wrong -- so trying again.
We do send password in double quotes but the problem seems to be escaping single quotes. The core wants only double-quote, backspace, and space escaped, but I added escaping of single quote in a recent patch.

[2022-03-31 14:56] cron2 commented on #487
Hi,

On Thu, Mar 31, 2022 at 07:28:51AM -0700, HeadOnPascal wrote:

Yes, this is fallout of a bugfix (and code cleanup...) related to
character escaping in usernames.  Seems the "cleanup" bit had unexpected
consequences.

gert
--
"If was one thing all people took for granted, was conviction that if you
 feed honest figures into a computer, honest figures come out. Never doubted
 it myself till I m

[2022-03-31 15:19] selvanair commented on #487
The "Command Parsing" section in management-notes has some description of what needs to be escaped and lists only ", backslash and space.

Supporting escaped single quotes in the parser would be nice, but fixing this here may be easier/quicker/safer ?

[2022-03-31 15:24] cron2 commented on #487
Hi,

On Thu, Mar 31, 2022 at 08:19:44AM -0700, Selva Nair wrote:

So let's stick to this... "it's documented", after all :-)

gert
--
"If was one thing all people took for granted, was conviction that if you
 feed honest figures into a computer, honest figures come out. Never doubted
 it myself till I met a computer with a sense of humor."
                             Robert A. Heinlein, The Moon

[2022-04-01 02:15] gjrtimmer opened #488 "Feature request: Numpad Enter key for OTP"
Dear OpenVPN team,

I've been using OpenVPN for a very long time. However I noticed a difference between the new UI and the previous one. I believe the previous one is called version: `2`. In the new UI I can enter my OTP code to connect to my office VPN with the numpad keys however the `Enter` key of the numpad does not word to confirm the OTP entry. However I just found out that the normal `Ente

[2022-04-01 02:48] selvanair commented on #488
OpenVPN Connect is a commercial product, while this site is about OpenVPN-GUI for Windows which is a free, open source  project. Please report this issue to where you received OpenVPN Connect from.

[2022-04-01 02:48] #488 closed

[2022-04-12 17:03] gitnewcomer commented on #77
Hi @cron2, this project should help implementing this feature: https://github.com/phaetto/windows-credentials-provider
I think all that is needed is described on Appendix C on this document: https://github.com/phaetto/windows-credentials-provider/blob/master/Credential_Provider_Technical_Reference.pdf
Here we can find more information about the credential provider: https://github.com/DavidWeiss2/w

[2022-04-12 17:36] gitnewcomer commented on #51
Hi @tfonzi check my answer on issue #77 maybe it can help you... ;)

[2022-04-17 11:07] z2z2qp opened #491 "The text is displayed abnormally"
1、window 11
2、
<img width="368" alt="image" src="https://user-images.githubusercontent.com/10736433/163711728-5d80defb-7ec0-438f-b3a5-d338b63a80c1.png">
3、显示乱码
<img width="274" alt="image" src="https://user-images.githubusercontent.com/10736433/163711759-e5fb2daf-476a-41a0-8ef9-0cebb5e96f0b.png">
此处乱码应该是“任务栏”的务

[2022-04-18 01:33] selvanair commented on #491
In the sources for Chinese-simplified we have

"OpenVPN GUI 已经运行. 右击任务栏图标启动." Not sure why one character is garbled on your display.

See the link for the line in the source  -- does it show up correctly on your machine?
https://github.com/OpenVPN/openvpn-gui/blob/79f5cb91c68308cbaa8bd0ef7d45da63e2f4dfc6/res/openvpn-gui-res-zh-hans.rc#L527

[2022-04-18 21:12] ManZosh commented on #77
In our environment we recently ditched our Cisco ASA which we leveraged the SBL module for VPN connectivity for a Netgate pfSense+ based NGFW appliance. Although this was a real nice upgrade in terms of network performance and licensing overhead, we're now missing out on the awesome functionality and manageability that Cisco's SBL afforded us. We would configure our ASA to our Windows Server's Net

[2022-04-19 02:40] z2z2qp commented on #491
“See the link for the line in the source -- does it show up correctly on your machine?”
it's ok

I clone the project，it's ok
use cat command
<img width="590" alt="image" src="https://user-images.githubusercontent.com/10736433/163908864-c2c1dce3-c2e0-4391-8241-edb15949eb41.png">
use vs code
<img width="630" alt="image" src="https://user-images.githubusercontent.com/10736433/163909039-98e49a7a-dc12-

[2022-04-19 05:23] selvanair commented on #491
This notification displays correctly on my English version of Windows 10 with language selected as Chinese in the settings menu of OpenVPN-GUI.
The text is sent using COPYDATA message from the second instance to the first, so the corruption could be in the inter-process messaging if all other notifications generated within the process are working right. Have you tried disabling the beta UTF-8 supp

[2022-04-19 05:46] chipitsine commented on #491
@selvanair , it was very easy (for me) to run win11 on my dev machine.
I enabled Hyper-V and ran "create new vm" wizard, it allows you to choose "windows 11 dev env"

or maybe those prepared images: https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/

[2022-04-19 07:21] z2z2qp commented on #491
OH！ ON！
<img width="465" alt="image" src="https://user-images.githubusercontent.com/10736433/163947936-abc438a5-088d-471d-9999-49fc261a4556.png">

[2022-04-19 07:36] SunnyWjw commented on #485
Solution：
1: Download the source code of [OpenSSL](https://www.openssl.org)
2: Compiling openssl with cygwin
[code]
3: After compilation, the "libcrypto.dll.a" and "libssl.dll.a" files will be generated
4: Copy the dynamic library to the following directory
[code]
5: Copy include/openssl in the openssl source directory to the following location /usr/x86_64-w64-mingw32/sys-root/mingw/include/openss

[2022-04-19 07:36] #485 closed

[2022-04-19 07:36] SunnyWjw commented on #485
this issue has been resolved

[2022-04-19 08:34] SunnyWjw opened #492 "OpenVPN CreateProcess Failed"
**When I installed the openvpn-gui.exe file compiled from the OpenVPN-gui source code, it prompted me to CreateProcess Failed**

![image](https://user-images.githubusercontent.com/11763317/163959564-2c17ae36-1dc5-4b21-add3-697c160162be.png)

![image](https://user-images.githubusercontent.com/11763317/163959581-ff6227c8-6c4a-41b7-b50e-f16b31f3a1ad.png)

**According to the online instructions, I nee

[2022-04-19 10:23] lstipakov commented on #492
So what is the problem exactly? OpenVPN-GUI requires openvpn.exe to work, it is now very useful otherwise. The easiest way would be to just install openvpn windows client (https://swupdate.openvpn.org/community/releases/OpenVPN-2.5.6-I601-amd64.msi) which creates all registry keys during installation.

Maybe we can help you if you tell us what do you what to achieve.

[2022-04-19 11:49] gitnewcomer commented on #77
I have made a proof of concept with the CheckPoint Endpoint Security Client so I could test if we could use an OpenVPN connection before Domain Logon...

My steps:

1) Download and install CheckPoint Endpoint Client (I have tested with version E86.00): https://supportcenter.checkpoint.com/supportcenter/portal/user/anon/page/default.psml/media-type/html?action=portlets.DCFileAction&eventSubmit_doGe

[2022-04-19 14:07] selvanair commented on #491
The suggestion to disable UTF-8 beta was a stab in the dark..
@chipitsine Thanks for the Windows 11 VM suggestion...
Could anyone with Win11  please try with Chinese (simplified) as the language in OpenVPN-GUI settings, then start a second instance of the GUI to trigger that message?

[2022-04-19 15:17] lstipakov commented on #491
![screen](https://user-images.githubusercontent.com/643110/164037574-9d2d79d2-8735-4ce2-80a0-912abe92ce97.png)

Is this good or bad? :)

[2022-04-19 15:47] selvanair commented on #491
Looks good to me ...

[2022-04-20 02:01] #492 closed

[2022-04-20 02:01] SunnyWjw commented on #492
The problem has been solved

[2022-04-26 07:04] SunnyWjw opened #493 "How to update the OpenSSL version in OpenVPN"
When I was compiling OpenVPN v2 5.6, it reminds me that the version of OpenVPN is too old. But I checked the version of OpenSSL I installed, which is Version 1.1.1n.
When I try to use  `./configure OPENSSL_CFLAGS=-I/cygdrive/c/Program Files/OpenSSL/include OPENSSL_LIBS="-L/cygdrive/c/Program Files/OpenSSL/lib -lssl -lcrypto -ldl"` to specify the path of OpenSSL for compilation, it prompts me that

[2022-04-26 07:26] lstipakov commented on #493
Since you use Windows, I recommend to use CMake-based build system, which uses vcpkg as dependency manager. openvpn-gui will use whatever openssl version (1.1.1 or 3.0.2) installed by vcpkg.

[2022-04-26 14:22] selvanair commented on #493
OPENSSL_CFLAGS has spaces in the path --- it should be quoted.

As Lev said, if you can use cmake-based build it may be easier.

[2022-05-07 03:34] dragonkyl commented on #493
OpenVPN version: v2.5.6
Openssl version: v1.1.1n

I try to use
./configure --host=arm-linux-gnueabihf --disable-lz4 --prefix=/home/ylkuai/project/openvpn-2.5.6/openvpn/a1000 CFLAGS=-fgnu89-inline LZO_LIBS=-L/opt/lib/lzo/lib LZO_CFLAGS=-I/opt/lib/lzo/include OPENSSL_CFLAGS=-I/opt/lib/openssl/include OPENSSL_LIBS=-L/opt/lib/openssl/lib LIBPAM_LIBS=-L/opt/lib/pam/lib LIBPAM_CFLAGS=-I/opt/lib/pam/incl

[2022-05-07 09:55] cron2 commented on #493
Hi,

On Fri, May 06, 2022 at 08:35:08PM -0700, dragonkyl wrote:

This looks like you are cross-building, and pointing configure to the
host libraries (intel).  OPENSSL_CFLAGS, OPENSSL_LIBS, etc. need to point
to arm-linux-gnueabihf versions of the libraries.

This is more a general "how do I cross-build things" question, and has
nothing whatsoever to do with OpenVPN *GUI* (which is windows only).

[2022-05-07 11:05] dragonkyl commented on #493
I'm sorry I sent it in the wrong place. And I have solved the problem.

[2022-05-14 08:37] playday3008 commented on #491
I have similar problem but in GUI and in another language
![image](https://user-images.githubusercontent.com/18056374/168418036-e08e91cd-6596-403f-837f-b65ddc9e1fb6.png)

[2022-05-14 14:49] selvanair commented on #491
No such error on my Win 10 (English) desktop. Is this also WIndows 11?
@z2z2qp did you find a fix?

[2022-05-16 07:49] lstipakov commented on #491
On the other hand, I cannot reproduce it with openvpn-gui.exe built locally or from GitHub Actions. @playday3008 could you try out this executable? https://github.com/OpenVPN/openvpn-gui/suites/6443033222/artifacts/235955420

[2022-05-16 09:32] playday3008 commented on #491
![image](https://user-images.githubusercontent.com/18056374/168563169-15637627-c184-44e2-8b59-c0428a67d4cf.png)

[2022-05-16 10:47] lstipakov commented on #491
I checked locally-built installer and it works fine. Then I checked official installers and noticed that problem has appeared since 2.5.3 - 2.5.2 and older works fine.

[2022-05-16 11:34] playday3008 commented on #491
So, what's next? How to fix that bug?

[2022-05-16 11:37] lstipakov commented on #491
@mattock do you happen to remember what has changed since 2.5.3? Have we switched to MSVC building? Maybe some settings on build machine?

[2022-05-16 11:42] playday3008 commented on #491
https://github.com/OpenVPN/openvpn-gui/compare/OpenVPN-2.5.2-I601...OpenVPN-2.5.3-I601

[2022-05-16 11:46] lstipakov commented on #491
I am not sure the problem is in -gui changes. As we could see, GitHub Actions-built and locally-built binaries work fine - there is probably some change in build environment which has caused it.

[2022-05-16 12:58] selvanair commented on #491
Aha, I can also reproduce these using the release binary  (including @z2z2qp 's original report for simplified chinese)  -- I have been testing using a local build. Has to be a release build issue as locally built GUI work fine as Lev mentioned.

Hard to think of how something in the build system could cause this though.

[2022-05-19 14:52] hellcry37 opened #498 "Multiple VPN's in a go"
Hello,

I am using openvpn from some time now. I work on windows 10 and use openvpn-gui with --connect option

What I want to do is connect 2 vpn's at start so I edited the shortcut when I lunch it it connects both vpn's, but only is openvpn-gui is not already started.

for example:

I use "C:\Program Files\OpenVPN\bin\openvpn-gui.exe" --command connect vpn1 --command connect vpn2 both vpn connect

[2022-05-19 14:53] hellcry37 commented on #498
forum discussion: https://forums.openvpn.net/viewtopic.php?p=106668

[2022-05-19 16:49] selvanair commented on #498
When the GUI is running, the second instance is sending commands to it, and only one command per invocation is supported. Its meant to be used from scripts. For interactive uses one is expected to start the GUi using the shortcut only when the GUI is not running. Use the GUI menu when its running.

Here is a possible workaround (untested): write a small batch script as:

cd "C:\Program Files\OpenV

[2022-05-23 06:04] hellcry37 commented on #498
thanks for your replay and help, still I'll leave this here maybe it will get fixed sometime

[2022-05-23 08:36] peterpoliwoda opened #499 "Support numerical ENTER key when typing a multi-factor authentication code"
Hi there,
I'd like to add the ability to press the return key when typing in a 2FA code when switching the app on.

![image](https://user-images.githubusercontent.com/14016749/169778609-a2a835ed-35ae-46e0-8715-ea51ab3e7c75.png)

At the moment it only supports the standard RETURN key in the middle of the keyboard and not the numerical keyboard's ENTER key. When typing on the right-hand side of the

[2022-05-23 09:54] schwabe commented on #499
The screenshots are from OpenVPN Connect, the commerical client from OpenVPN Inc. Please see [here](https://openvpn.net/vpn-server-resources/support-options-for-openvpn/#openvpn-connect-client-for-windows-and-macos) for support for them.

[2022-05-27 02:15] #499 closed

[2022-05-31 05:17] hellcry37 commented on #498
I see you guys working on this, thank you very much. This is awesome!

[2022-05-31 13:54] hellcry37 commented on #498
tested and seem to work ok when gui is already lunched both vpn's connect, awesome work

[2022-06-06 01:24] ddevelopedd opened #505 "Can't install or uninstall on Windows 10"
Hey,

I keep getting the following message:

So it's fair to assume it's a registry issue but no idea how to fix it.

Windows 10
OpenVPN-2.5.7

[2022-06-14 05:07] salaros commented on #51
I would rather install 3-4 providers for built-in Windows 11 VPN app, than 3-4 different applications

[2022-06-24 15:59] dgrilli commented on #158
Maybe in 2017 this feature was not much requested but nowadays I think should get a priority considering the number of people / companies which implement PIV devices.

[2022-06-24 19:07] selvanair commented on #158
If we were to implement this what details of the available certificates should we show to the user? Certificate subject and issuer or also include the token manufacturer, model, label etc.? Show the full subject or just common name?

Sometimes there is too much info in these fields that could confuse a lay user, sometimes too little. Just showing a list of pkcs11-uri's is not user friendly.

[2022-06-25 07:30] dgrilli commented on #158
Common Name, issuer and date validity... those are the three things that normally appear on any certificate selection prompt like the one IE,Chrome or Firefox show you... I would go with what everyone else does as minimum. Then you can always have an option to show more details or anything like that but it is definitely not necessary on a first implementation

[2022-06-28 13:52] selvanair commented on #158
see PR #158: May be tested using executables in GHA build artifacts; https://github.com/OpenVPN/openvpn-gui/actions/runs/2573546100#artifacts

[2022-06-29 06:16] dgrilli commented on #158
@selvanair : wow! that was a very quick job you done here... I tested one of GHA build artifacts and works perfectly.
This would make our life much easier, really appreciate your help! :-)

I did test both with the PIV device already plugged in and without it to test the retry option and both looks good to me.
I also tested the opening of the certificate with the double click which works as well.

[2022-07-04 12:23] tefod-zz commented on #158
Ouuhh, promising good news! Thanks @selvanair.
@dgrilli could you describe, how the config file must look like with the new files from the artifacts to get it run with a hardware token? Which settings, any dependies which has to be installed? Just tried, no success so long :)

[2022-07-04 15:41] selvanair commented on #158
@tefod-zz If you have a setup working with pkcs11, just comment out the "pkcs11-id" line and add "pkcs11-id-management" in the config file. Here are the pkcs11-related lines in my test config where I use two provider dlls -- one for a hardware token and other a sotfhsm one.
[code]
The artifact zip includes the GUI exe and OpenSSL crypto dll.  There are no other dependencies, so if you extract it t

[2022-07-04 16:47] tefod-zz commented on #158
That worked, thanks.  I used pkcs11-spy.dll from OpenSC as provider dll. It worked flawlessly.
![image](https://user-images.githubusercontent.com/3308645/177193156-ddb09a68-ed5d-4407-a3fc-f5845917c477.png)

Regarding the provider dll - the etpkcs.dll from @selvanair 's example its probably from an aladdin etoken.
In my example above OpenSC worked. Does someone know, if is their vendor specific (Yu

[2022-07-04 17:29] selvanair commented on #158
Any HSM that works on Windows presumably has  a vendor dll that comes with it or could be downloaded from the vendor. If its pkcs#11 compliant, it should work with OpenVPN. If the hardware is supported by OpenSC, opensc-pkcs11.dllwould work as a replacement for the vendor dll (pkcs11-spy is not required).

Yubico's piv tool includes the vendor library (libykcs11.so on Linux) -- it may be called yk

[2022-07-04 17:46] tefod-zz commented on #158
Thanks for the clarification. My previous attempt to include the libykcs11.dll had failed. Now I know the reason; the DLL files must either be copied together, or the bin folder from the Yubico PIV Tool needs to be added to the system path as described [here](https://developers.yubico.com/yubico-piv-tool/YKCS11/).

Just for the next, who might stumble over this:
![image](https://user-images.github

[2022-07-04 19:05] selvanair commented on #158
Yes that dll has some dependencies which won't be found unless %PATH% is updated. If its a standalone dll,  just using the full path would have worked.

[2022-07-05 00:51] CloudyDory opened #511 "Import profile from URL works in OpenVPN Connect but not OpenVPN-GUI"
I have purchased a VPN service which support connection by OpenVPN by importing a profile from URL. However it seems that importing from URL works only in OpenVPN-Connect client, not OpenVPN-GUI client, on Windows 10.

The verion of OpenVPN-GUI is v11.29.0.0, downloaded from [https://openvpn.net/community-downloads/](https://openvpn.net/community-downloads/). If I use "import from URL", after ente

[2022-07-05 07:43] selvanair commented on #511
Looks like your VPN provider has set the content-type to something we do not recognize. Unrelated to #480.
Contact the provider and tell them to set content-type to application/x-openvpn-profile.  Connect client may not be requiring it, but we are enforcing it for generic URLs (not for access-server compliant ones). Quoting from the commit message:

[code]

Its also a good idea to set content-disp

[2022-07-06 19:29] alex2364 commented on #51
I would like to add my support for a Microsoft Store UWP app! I'm looking for a client that I can install in Windows S mode. I'm not too concerned with performance as long as it works.

[2022-07-08 01:47] #493 closed

[2022-07-08 01:58] selvanair commented on #491
2.5.7 which was released after this report, still has the same problem,
@mattock any idea why only release binaries are affected by this?

![settings](https://user-images.githubusercontent.com/3981391/177901207-4cae62fe-2b81-4e03-a92c-7f6a054bc5ba.png)

[2022-07-08 12:03] #251 closed

[2022-07-13 03:05] Imsol0 commented on #381
where should i finf config file in kali . /etc/openvpn ?
there are only two directories and one .conf file .. nothing much

[2022-07-15 03:14] selvanair commented on #77
@gitnewcomer I had worked on this on and off over the years, but I've been holding-off to release it for several reasons including (i) IMO, PLAP UX is not very user friendly (ii) as these dlls are loaded by LogonUI before logon, any bug can badly lockup the machine etc.

I'm also very reluctant to put a major chunk of the GUI-code loaded into a dll running as system -- I know many commercial imple

[2022-07-15 03:37] selvanair commented on #77
fwiw a screenshot of the plap-login screen
![ovpn-plap1](https://user-images.githubusercontent.com/3981391/179145189-8aa48d8f-faa2-4bd1-b15f-648890b2aa25.jpg)

[2022-07-15 12:45] gitnewcomer commented on #77
Hi @selvanair,

Thanks for the PLAP module, I will test it and give you a feedback ASAP!
Do you plan to release the source code for the PLAP module so others can improve it / bug fixing it? :)

[2022-07-17 02:50] sazzad1337 commented on #381
The cipher is not added correctly or something, so I had to modify the .ovpn file manually, if you open the file you'll see
`cipher AES-256-CBC`

just change it to -
`data-ciphers AES-256-CBC`

[2022-07-19 20:00] gitnewcomer commented on #77
Hi @selvanair,

I had the opportunity to test your PLAP module and I found following problems:

- if we take to long to use the PLAP module or the connection attempt is taking a little bit longer, we are taken back to the logon screen with the clock (I'm testing on Windows 11, but Windows 10 should be the same). This does not happen with the CheckPoint Endpoint Security PLAP implementation (it sta

[2022-07-19 21:20] selvanair commented on #77
@gitnewcomer  Thanks for testing and great feedback.

On Windows 10, I can stay on the PLAP screen for ever... the screen does switch to showing the clock after being idle for 30 seconds or so, but a mouse-click anywhere takes back to the PLAP screen, not the login screen. This is idential to what happens to the native login screen and what the OS wants to do. Probably that's what you are seeing t

[2022-07-19 22:11] gitnewcomer commented on #77
@selvanair I have to admit that my tests were done in a rush on a remote client. Tomorrow I will be again at the office and will make this tests again and report back...
Thanks again for all your work you've already done! :)

[2022-07-20 00:30] selvanair commented on #77
@gitnewcomer In that try to use the latest zip (at the same link) -- I had made some changes which might have fixed some issues that you noticed. Anyway, with auth-nocache I get a prompt every time after a disconnect using the PLAP disconnect button. In fact I''ve removed disconnect/reconnect buttons in the popup as they don't work well in this situation -- has to do with some timing issues with t

[2022-07-20 12:42] gitnewcomer commented on #77
@selvanair today I had a little more time to test the PLAP module again. I also made a comparative with the CheckPoint Endpoint, so you can see how both behave (see how user friendly the UX is).

1. PLAP screen with both, OpenVPN and CheckPoint Endpoint.
As we can see, the CheckPoint Endpoint only shows one entry for the PLAP module, also wenn it has more than one profile configured. On OpenVPN, i

[2022-07-20 18:40] selvanair commented on #77
@gitnewcomer Thanks for all the details and great feedback. I will consider all of these while making revisions.  Very helful indeed. For now some quick remarks:

As I suspected checkpoint is getting into Connect() at first click or PLAP icon which is a design choice that allows them to have a bare-bones PLAP dll which just spawns their client executable on the secure desktop.

Apart from my disli

[2022-07-20 19:07] selvanair commented on #77
oops...

[2022-07-21 09:28] gitnewcomer commented on #77
@selvanair

I have seen this yesterday, didn't know that this was the problem. I thought it could be a conflict between OpenVPN PLAP and CheckPoint PLAP. Now I know why this is happening. :)

I agree, PLAP is only useful for domain users, so it would be on most cases only one profile.

It doesn't need to be a progress bar, it also could be a spinner. Isn't it possible to first show the credentials

[2022-08-02 07:04] mohag commented on #416
Os there a fix for detecting an avoiding the excluded ports in the code? (or informing the user of the issue and the setting to change)

[2022-08-02 14:32] selvanair commented on #416
As mentioned in the top of this thread, the user can change the port offset in the settings menu (see the Advanced tab) -- defaults tot 25340. The port used would be the offset + ordinal index of the config. If you have, say, 3 config files, they are indexed 0, 1, 2.
Recently we have added code to also check whether the port is free and find an alternate port if not (PR #509). Hopefully that will

[2022-08-02 14:49] mohag commented on #416
Thanks, that would help. (Port numbers is not something that most users would understand)

The excluded ports are a mess - they change randomly with reboots and the error messages did not make it obvious that that is what is going on. (Some other applications sometimes use hard-coded ports which means that they break until you reboot) (I have Hyper-V installed, with one VM created that is not runn

[2022-08-06 06:54] mcbyte-it commented on #451
It is a known bug since years, and no fix yet:
https://community.openvpn.net/openvpn/ticket/384

[2022-08-16 15:51] ManZosh commented on #77
Hello! I've been following this thread as my organization really has a need to have OpenVPN connections initiate at the Windows logon screen, prior to user sign-in.

I went ahead and downloaded @selvanair's [openvpn-plap.zip](https://drive.google.com/drive/folders/1w69yVjfiPVLMJ8V11rfO5GTP1WhX4r_Y?usp=sharing), and followed through the steps to test this out.

**1.** We use a pfSense+ firewall app

[2022-08-16 18:47] selvanair commented on #77
If you used the zip file that was linked to this thread the reg file assumes the dll is in C:\Windows\System32. If you use GHA artifacts for PR #518 you should use the .reg file included in that PR and the dll be copied to C:\Program Files\OpenVPN\bin. That said, your setup looks fine to me, though I recommend using the binary from PR 518 -- several issues were fixed in there.

For testing, there

[2022-08-18 09:46] gitnewcomer commented on #77
Hi @selvanair thanks again that you took the time to add this feature to the OpenVPN.
I've seen that you already submitted the PLAP for revision (PR #518) and saw that there is also the registry file that needs to be imported to the registry to activate the PLAP.
My suggestion, to make more "professional" would be to add an option on the OpenVPN GUI settings to activate the PLAP (if the user does

[2022-08-18 14:40] selvanair commented on #77
Installation of plap dll will be handled after merging pr518.. the reg file in there or instructions in the pr  discussion are not necessarily meant for the end user. For now, it's meant  for testing.

I may not add registration option to the GUI as GUI is to be run as limited user. Some products do this using a service ( eg checkpoint that you mention), but not all admins want users to be able to

[2022-08-18 16:19] ShemShadrack opened #521 "installing cert"
how do i install security cert? am following the documentation but its not clear

[2022-08-20 06:29] AbdullahAl12 opened #522 "Abdullah"

[2022-08-20 17:28] AbdullahAl12 opened #523 "Abdullah"
https://github.com/schwabe/ics-openvpn/releases/tag/v0.7.39

[2022-08-20 18:17] schwabe commented on #523
That has nothing to do with OpenVPN GUI.

[2022-08-20 23:09] #523 closed

[2022-08-22 09:31] #522 closed

[2022-08-22 15:09] #511 closed

[2022-08-22 15:11] #487 closed

[2022-08-22 15:12] #481 closed

[2022-08-24 17:12] rokedev commented on #416
I ran into de same problem but didn´t check if the port was on an excluded range. After restarting the "Host Network Service" the problem was gone.

It's not a fix but is faster than multiple restarts of the machine.

[2022-08-29 21:38] ManZosh commented on #77
Hey @selvanair! Following the MSVC instructions on the [build.rst](https://github.com/OpenVPN/openvpn-gui/blob/master/BUILD.rst), was able to output a successful build in VS2022, just hit 2 small snags:
- [`CMakePresets.json:8`](https://github.com/OpenVPN/openvpn-gui/commit/09aa7ef73031b0beeb42f59a70440b09f4568f2a#diff-1712b235e02bd4a3ad866fe26447a6dc5c1b449faeea513f449d244d46d03cf5) just had to c

[2022-08-29 22:16] selvanair commented on #77
The GUI does not "cache" any configs in %userprofile%  --- if you have one there you must have put it there (or imported using the GUI menu) at some point. Anyway, such duplicates will only affect the GUI operation, not PLAP.

The posted log shows a connection started from scratch by the GUI through the interactive-service. So something is not right. The connection should be controlled by OpenVPNS

[2022-08-29 23:09] selvanair commented on #77
@ManZosh By the way, I have noticed a bug in the dll that could cause it to crash the login screen if config-auto folder is missing. So be careful while testing and know how to get back in via safeboot if you get locked out. I'll fix this, but its unrelated to the trouble you are having.

[2022-09-05 15:49] TinCanTech opened #526 "[Feature consideration] Add `Openvpn version` to GUI interface"
**Just a thought**: Sometimes `openvpn` is aborted prior to logging the version info. It _could_ be useful to have a GUI menu item: `Openvpn version`

**Edit**: Apparently, having `openvpn` always log the version has also been discussed and is being considered, i guess ..

[2022-09-05 17:05] selvanair commented on #526
As in  aborted during option parsing? In fact, the GUI reads the version of installed openvpn.exe binary at startup and saves it as o.ovpn_version --- could be *easily* added it to the about page. Patches welcome.

[2022-09-27 11:15] duckytutorials opened #527 "Error connecting"
i see connecting to management interface failed

[2022-10-09 18:44] selvanair commented on #77
@ManZosh  Check whether the default value of the registry key HKEY_CLASSES_ROOT\CLSID{4fbb8b67-cf02-4982-a7a8-3dd06a2c2ebd}\inprocserver32` reads `C:\Program Files\OpenVPN\bin\libopenvpn_plap.dll` If  not fix it. I found a bug in the reg file that could have caused this not to be set.

[2022-10-11 09:41] feuertaenzer opened #528 "Use certificate from Windows machine certificate store"
I am not sure if this is a bug or feature request.
Based on my research this was possible at some point but it isn't anymore so I consider this a bug, correct me if I'm wrong.

I use Windows 10 Clients with the OpenVPN GUI 64bit version 2.5.7.
Also I use automatically enrolled client certificates, stored in the machine certificate store.
These certificates are supposed to be the second factor next

[2022-10-11 15:48] selvanair commented on #528
OpenVPN.exe runs with limited user privileges and certificate in machine store is read only if its readable by user -- certificates are accessed directly, not using the service. You can explicitly run the GUI and thus openvpn.exe as administrator, but that'snot recommended.

Client certificate is supposed to be issued to the user, so make it user readable (key can be kept non-exportable). If that

[2022-10-14 09:01] feuertaenzer commented on #528
Okay thanks for the clarification.
I was pretty focused on using machine certificates but I'll then use user certificates with non-exportable private keys instead!

[2022-10-14 09:01] #528 closed

[2022-10-18 18:07] selvanair commented on #528
For connections profiles stored in the global config directory, certificate in machine store may be preferred so that different users can start the connection. For those in the user-specific config folder, storing the certificate in user store is better. In either case, if you can keep the key accessible by users (not exportable), it will work.

[2022-10-20 16:40] selvanair commented on #527
Not enough information to go by. Closing.

[2022-10-20 16:40] #527 closed

[2022-11-02 14:01] KC-NAV opened #532 "ROUTE: route addition failed using service: The object already exists. [status=5010 if_index=15]"
Yesterday I logged in to the VPN and RD. Today The VPN says connected and the RD immediately returns an error "An internal error has occurred" One item I see in the status of VPN is "ROUTE: route addition failed using service: The object already exists.   [status=5010 if_index=15]" then "Route addition via service failed" All other rows end with "Route addition via service succeeded" I've rebooted

[2022-11-02 16:57] KC-NAV commented on #532
Update - the error was resolved on the hosting rd side.

[2022-11-02 16:57] #532 closed

[2022-11-02 16:58] KC-NAV commented on #532
Update - the error was resolved on the hosting rd side.

[2022-11-03 09:11] bovirus opened #533 "Italian language file not updated from a long time"
@selvanair

From 11.07.2022 when I propose the some changes to update align the italian translation nothing changed.

The current italian translation now as in the past is not aligned to master english, contain English text, and for me use old terminology of an old style of translatioin.

I propose to the original translator (@odex) to update the translation and keep focus on it (check and update

[2022-11-03 14:31] ordex commented on #533
FTR I am not the "original translator" - I am just a native Italian speaker and OpenVPN developer.
Code is open for contributions by everybody.

Cheers,

[2022-11-03 17:25] bovirus commented on #533
@ordex

Does it men that no one is in charge to translate and maintain updated the italian language for OpenVPN?

[2022-11-03 19:30] selvanair opened #535 "Version update commit for the GUI"
@mattock version and tag for 2.5.8 release appears to be not pushed here as yet..

[2022-11-04 07:40] ordex commented on #533
Hi! I am not sure what you mean with "in charge". This is an open source project, so everybody can be responsible and everybody can be in charge.

[2022-11-04 08:08] bovirus commented on #533
If you are italian you can understande "l'asino di due padroni muore di fame e di sete".

If there are many owners that could manage a translation (ex. italian) and for exmpale anyone think that someone of the other will manage it, could happend like it seems now that italian translation is not updated, contains english terms and so on.

For a better efficiency In many project where I partecipated

[2022-11-04 11:11] dsommers commented on #533
@bovirus OpenVPN and this sub-project, OpenVPN-GUI, are fully open source projects.  They take contributions, contributions are reviewed, and when they look good they are merged.

Translations are not treated any different, also because there are lots of terminologies in the VPN scope which needs to be used correctly.  We've even seen attempts to translate product names of OpenVPN Inc, which then

[2022-11-04 13:51] bovirus commented on #533
@dsommers

Sorry but I didn't understand your answer.

I partecipate at many different project and is the first time that I see this answer.

The current OpenVPN GUI italian translation for me that I'm a profesisonal translator that works for many sofwtare project  (search bovirus on internet)  is not complete because it's a mix of italian/english words, not laigned to amsetr english and use somet

[2022-11-04 13:53] #533 closed

[2022-11-04 14:34] bovirus commented on #533
@selvanair

I believe that @ordex can open the file and make all changes that he likes and propose it as update.

To make it easily in short time we could do in this way.

1. merge my PR.
2. @ordex make his changes and prose it as your request and your merge it.

Thanks.

[2022-11-04 15:16] bovirus commented on #533
Then I cannot see any other solution that a trusted member get my translation proposal, make his changes and propose it as trusted translation.
It's important that some trusted member do it to have finally an italian translation complete.

[2022-11-04 16:05] schwabe commented on #533
@bovirus we generally do not like this hit & run approach with contributions. We often had people suggesting changes (program code) that post a patch and then never put the effort into it, to make into a acceptable state. And basically we ask all contribution to be a good shape.

Yes, someone else can take off the work of you (or other contributers) and change the contribution into an an acceptabl

[2022-11-04 16:13] schwabe commented on #533
And seeing that we asked not to translate "OpenVPN Access Server" and you said "fixed" to that and then opened a PR that still has the translation in it, feels like you did not put in any effort. I haven't checked the other suggestions that were made but I believe @selvanair when he says that they are also not made.

[2022-11-04 16:18] bovirus commented on #533
@schwabe

My approach is different.
I don't have knowledge about programming and for this I checked and proposed only translation changes.

It's my habit (for other projects where I followed the tranmslation) to check always befote and after program release (because for example the GUI size and text string lenght can checked only after release the new program version with GUI changes)

For me any

[2022-11-04 21:48] cron2 commented on #535
Hi,

On Fri, Nov 04, 2022 at 08:43:12AM -0700, Selva Nair wrote:

This comes as a bit of surprise to me - my understanding of the
dark and mystical ways to brew a windows release was "mattock fills
in a git tag, and it builds exactly this" - so it should have built
v2.5.8.

More interesting question - what is in the tarballs published?

(I do "update version.m4, commit, tag+sign that commit, push"

[2022-11-05 21:03] selvanair commented on #526
Implemented in PR #536

[2022-11-05 21:03] #526 closed

[2022-11-06 20:18] TinCanTech opened #537 "Should "About" dialogue mention "packet compression" ?"

[2022-11-11 06:39] fennectech opened #542 "Critical security oversight Openvpn-Connect"
ive been using the openvpn connect client to torrent but found that its not showing the amount of traffic the torrent client is using   however the IP displayed in the corner is indeed the IP of the vpn  So after a bit of testing ive found that ipv6 traffic is going arround the VPN and googling "what is my ip" with the client connected actually shows my public IPV6 address but if i force ipv4 it s

[2022-11-11 06:41] fennectech commented on #542
![image](https://user-images.githubusercontent.com/11953665/201279276-19a01d0f-98bf-4783-946d-33aba38bd34d.png)

[2022-11-11 07:00] cron2 commented on #542
Hi,

On Thu, Nov 10, 2022 at 10:39:37PM -0800, FennecTECH wrote:

This is not a bug in OpenVPN Connect, but in your VPN setup.

Your VPN provider needs to either offer IPv6, or put "block-ipv6"
into the VPN config (to prevent IPv6 from circumventing the VPN,
as you have observed).  Specifically:

              Client config

                        --ifconfig-ipv6 fd15:53b6:dead::2/64 fd15:53b6:de

[2022-11-11 07:33] fennectech commented on #542
you are correct!

[2022-11-11 07:33] #542 closed

[2022-11-20 22:36] bjoernv commented on #77
I am working on a "Start Before Logon" setup where an OpenVPN client should be started before Windows login, but only if a Smart card is inserted.

Currently the problem is, that the Smart card needs a PIN, which can't be entered before Windows login.

I wrote a feature request for an option to save the PIN. See https://community.openvpn.net/openvpn/ticket/1485

An alternative solution would be to

[2022-11-20 23:12] selvanair commented on #77
Starting verion 11.30 PLAP module is available and interatcive connection of OpenVPN tunnel with password/PIN/challenge response input from login screen is now possible. See #518

[2022-11-22 20:48] derickza commented on #453
@selvanair please excuse my ignorance - how do you add that line to the client config - don't even know where it is or how to find it and google is not helping - all these linux solutions are so techincially vague they need solutions themselves - is there a real laymans way of doing this step by step - almost like i'm a baby

"Add remote-cert-tls server to your client config" = do something - I ne

[2022-11-22 21:09] selvanair commented on #453
If you do not know what that means, point your server administrator to this thread so that they can provide a fixed configuration.

[2022-11-23 07:22] cron2 commented on #453
Hi,

On Tue, Nov 22, 2022 at 10:00:17PM -0800, derickza wrote:

The issue here is: to use OpenVPN, you need to have a config file with
details about servers, secret keys, etc - that can not be provided by
us in an installable package.

Either the server operator provides that config file (and then he's the
responsible person for questions about that config file), or you'll have
to learn how these

[2022-11-23 07:44] cron2 commented on #453
Hi,

On Tue, Nov 22, 2022 at 11:41:39PM -0800, derickza wrote:

I don't think that checkpoint uses the OpenVPN protocol, so using the
OpenVPN client with a checkpoint server is not going to work.

Specifically, OpenVPN needs a full config file, not just "server +
username + password".

gert
--
"If was one thing all people took for granted, was conviction that if you
 feed honest figures into a com

[2022-11-24 21:15] bjoernv opened #543 "Visual Studio 2022 not found"
The build instructions in BUILD.rst formulate carefully that Visual Studio 2022 may be supported ("Visual Studio 2019 (build tools should be enough, also 2022 will likely work)").

I tested the build instructions with Visual Studio 2022 and the master version of OpenVPN-GUI and the build fails.

In the first run a missing component "Desktop Development with C++" (see [Visual Studio 16 2019: Could

[2022-11-25 09:02] lstipakov commented on #543
I haven't tested VS2022 myself, I can look into in next week. Does it work if you replace `Visual Studio 16 2019` with `Visual Studio 17 2022`?

[2022-11-25 15:47] chipitsine commented on #543
Lev is right, replacing works (for me)

https://github.com/OpenVPN/openvpn-gui/blob/master/CMakePresets.json#L8

I tried to find a way how to detect that automatically, but I did not

[2022-11-26 16:16] DanielBlackBeard opened #544 "Improving the Persian(Farsi) translation of the project"
Hi, I would like to cooperate with you in improving the Persian language of this project so that these users have a better user interface experience.

[2022-11-26 16:24] lstipakov commented on #544
Sure, feel free to open a pull request with translations!

[2022-11-26 17:14] DanielBlackBeard commented on #544
https://github.com/OpenVPN/openvpn-gui/pull/545

[2022-11-26 17:34] DanielBlackBeard commented on #544
persian language is an RTL language.
RTL (Right To Left) is a locale property indicating that text is written from right to left.
When written from left to right with specialized English words, the order of the words will be messed up.
It's an example of correcting its position of it.
![image](https://user-images.githubusercontent.com/118456291/204101529-fc3aba1c-3050-4276-b3cc-82976ffa09d8.png)
*

[2022-11-27 15:18] DanielBlackBeard commented on #544
I have a good idea for reordering positions of UI automatically.
I found a great solution.

I took a screenshot of the translated UI and took it into Photoshop, and flipped images => rotate => Flip canvas horizontally.
The positioning of UI elements is solved.
In my idea, There is a need for a coefficient that needs to be flipped based on the horizontal. If I am not mistaken, the x-axis position s

[2022-11-27 23:30] selvanair commented on #544
RTL language display has to be handled in the resources (and by run-time style changes when required), not by flipping images in photoshop.  Mirroring is not same as writing right to left, nor is such image manipulation useful for implementing dialog windows.

Please test PR #546 that sets Farsi dialogs to display as RTL,  and provide feedback  -- you can test it using an executable from CI builds

[2022-11-28 14:42] DanielBlackBeard commented on #544
I will test it soon. Thanks for that.

[2022-11-28 17:49] DanielBlackBeard commented on #544
Tested on build ,openvpn-gui_x64_ossl1.1.1

Actually its Great . thanks for that .
The user interface is very clean and good, and it is prepared to add even Arabic and Hebrew languages.
The rest of the defects are very small.

![image](https://user-images.githubusercontent.com/118456291/204337958-4a5c643e-2954-48ef-bd09-a754c014b56e.png)

![image](https://user-images.githubusercontent.com/11845629

[2022-11-28 18:18] selvanair commented on #544
Thanks for the feedback. The first one is an error popup window which are not convered by this PR -- will handle in a separate PR.

Truncated text are supposed to be fixed during translation by changing the geometry parameters to accommodate the translated text.

For the last one, the wrong placement of trailing < and / are fixed in the second commit I pushed a few hours ago. Please retest "About"

[2022-11-29 11:19] bjoernv commented on #77
Could you please give a HOWTO for testing? I have OpenVPN 2.5.8 community edition installed.

And I have the compiled the Git master version of OpenVPN-GUI. The openvpn/out/build/x64-release-ossl3/ directory now contains these *.exe and *.dll files:
[code]
but no openvpnserv2.exe and no installer.

How I test the OpenVPN-GUI PLAP functions?

[2022-11-29 13:34] MDcod opened #548 "Openvpn GUI crashes. The connection remains."
Drops randomly. Didn't notice the patterns. The tray icon disappears and the OpenVPN GUI for Windows process disappears.
Network connectivity remains good. But now there is no way to break the connection. Just restart the computer. I don't see gui logs anywhere, only the network itself.

Please help, it's incredibly annoying

[2022-11-29 14:54] selvanair commented on #77
It may be easier to test this using a snapshot installer for 2.6 -- see [here](https://build.openvpn.net/downloads/snapshots/github-actions/openvpn2/)

Otherwise, re-install 2.5.8 by selecting to install automatic service. It's not selected by default. Set to start the service automaticlaly and then start it. Copy `libopenvpn_plap.dll` that you built to `C:\Program Files\OpenVPN\bin`. Copy `plap/o

[2022-11-29 17:25] selvanair commented on #544
@DanielBlackBeard PR #547 should fix alignment and order in the error messages that you pointed out. Does the image below look right?
![error-connecting](https://user-images.githubusercontent.com/3981391/204598631-9a32d747-ad81-425f-8e12-3b9d246ff9ec.png)

[2022-11-30 20:48] AR45H opened #549 "Error during installation of windows client OpenVPN 2.5.8 amd64 OpenVPNMSICA tap_create_adapter Error 536870397"
Hi,

The installer fails to create a wintun adapter with error 536870397
Attempts to create the adapter through the tapctl executable with `create --hwid wintun` returns the following error:
[code]
Workarounds mentioned in [this forum post](https://forums.openvpn.net/viewtopic.php?t=31235) do not work

[2022-11-30 20:51] AR45H commented on #549
I should add that unticking the TUN adapter in the installer will successfully install the client with only the TAP adapter